<!DOCTYPE html>

<html>

<head>

    <title>GoodBadWeird</title>

    <script src="http://code.jquery.com/jquery.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="static/main.css">

</head>

<body>

    <div id="slider-div">
        <form name="slider">
            <input id="slider-num-words" class="slider" type="range" min="1" max="3" step="0.01"/>
            <output name="output" id="slider-text-num-words" class="slider"></output>
        </form>
    </div>

    <div id="slider-text-div">
        <span id="left-slider-text">One-Word Groupings</span>
        <span id="right-slider-text">Three-Word Groupings</span>
    </div>


    <div id="joke-btns-div">
        <div class="joke-btn-div">
            <input type="button" id="home-main-joke-btn" value="Generate Random Dad Joke">
        </div>
        <div class="joke-btn-div">
            <input type="button" id="prev-joke-btn" value="Show Previous Dad Jokes">
        </div>
    </div>

    <div id="outer-jokes-div">

        <div id="joke-div-1"></div>

        <div id="joke-div-2"></div>

        <div id="joke-div-3"></div>

        <div id="joke-div-4"></div>

        <div id="joke-div-5"></div>

    </div>

    <script src="static/dadjokes.js"></script>

</body>

</html>